/* ------------ Product Page ------------ */

.product-page-image {
  max-height: 300px;
  max-width: 300px;
}

#product-title {
  font-size: 1.8em;
  font-weight: bold;
}

.product-page {
  text-align: center;
}

.product-rating {
  grid-area: rating;
}

.product-comment {
  grid-area: comment;
}

.product-upvotes {
  grid-area: upvotes;
}

.upvote-button {
  grid-area: button;
  width: 5vw;
  height: 5vw;
  font-size: 1.8em;
}

.product-comment-card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0.5em 0.5em 1em var(--purple);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  grid-template-areas:
    ". rating . upvotes"
    "comment comment comment  ."
    "comment comment comment button";
  justify-items: center;
}

.product-para {
  font-weight: bold;
}

/* Add a Product Styles */

#addAProductForm {
  padding: 1em;
  font-size: 1.5em;
  text-align: center;
}

.mission {
  text-align: center;
  padding: 10px;
  margin: 30px;
  font-size: 1.5em;
}

.contribute {
  text-align: center;
  padding: 10px;
  margin: 30px;
  font-size: 1.5em;
}
