/* ------------ Product Page ------------ */

.product-page-image {
  max-height: 300px;
  max-width: 300px;
}

#product-title {
  font-size: 1.8em;
  font-weight: bold;
}

.product-page {
  text-align: center;
  margin-bottom: 4em;
}

.product-rating {
  grid-area: rating;
}

.product-comment {
  grid-area: comment;
}

.product-upvotes {
  grid-area: upvotes;
}

.upvote-button {
  grid-area: button;
  width: 10vw;
  height: 10vw;
  font-size: 1.8em;
  background-color: var(--lightblue);
}

#product-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-comment-card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0.5em 0.5em 1em var(--purple);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: auto;
  grid-template-areas:
    ". rating . upvotes"
    "comment comment comment  ."
    "comment comment comment button";
  justify-items: center;
}

.product-para {
  font-weight: bold;
}

@media (min-width: 400px) {
  .product-comment-card {
    max-width: 72vw;
    grid-template-columns: 18vw 18vw 18vw 18vw;
  }
}

@media (min-width: 800px) {
  .product-comment-card {
    max-width: 60vw;
    grid-template-columns: 15vw 15vw 15vw 15vw;
  }
}
