:root {
  --darkblue: #184353;
  --lightblue: #80a4b2;
  --orangered: #ed554b;
  --white: #ffffff;
  --grey: #e0e0e0;
  --yellow: #edd596;
  --purple: #1e1732;
}

body {
  font-family: "Dosis", sans-serif;
}

body > section.nav-bar > div.nav-bar-content > svg:nth-child(2) {
  margin-top: 1vh;
}

.nav-bar-content {
  display: flex;
  background: var(--lightblue);
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  justify-content: space-evenly;
  align-items: center;
}

.me-text {
  font-size: 27px;
  margin: 0;
}

.plantbase-text {
  margin: 0;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 8vw solid var(--lightblue);
}

/* content slider below */

* {
  box-sizing: border-box;
}

.content {
  /* scene */
  margin: auto;
  width: 512px;
  height: 512px;
  perspective: 1000px;
  position: relative;
  padding-top: 20px;
  border: 1px solid #ccc;
}

.content-slider {
  /* carousel */
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-288px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.content-slider:hover {
  cursor: pointer;
}

.content-slider figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(256px);
}

.content-slider figure:nth-child(2) {
  transform: rotateY(90deg) translateZ(256px);
}

.content-slider figure:nth-child(3) {
  transform: rotateY(180deg) translateZ(256px);
}

.content-slider figure:nth-child(4) {
  transform: rotateY(270deg) translateZ(256px);
}

.craving-svg {
  background: var(--white);
  box-shadow: 0px 0px 20px 0px #696969;
  border-radius: 2px;
  width: 412px;
  height: 412px;
  left: 10px;
  top: 10px;
  border: 2px solid white;
  position: absolute;
}

.content-slider img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-slider img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

/* @keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
} */

/* ------------ Results page  ------------ */

.result-card {
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px var(--grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-title a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2em;
}

.result-image {
  max-height: 300px;
  max-width: 300px;
}

.result-rating {
  align-items: center;
  font-weight: bold;
}

/* back button*/

.back-button {
  background-color: #80a4b2;
}

/* Burger Menu */

#burgerMenu {
  background: var(--lightblue);
  text-align: right;
  position: absolute;
  top: 12vh;
  right: 0;
  z-index: 1;
  transform: translateX(100%);
  transition: all 0.5s ease;
}

#burgerMenu.visible {
  transform: translateX(0);
}

#burgerList {
  padding: 0;
  margin: 0;
}

.burgerItem {
  list-style: none;
  border: 0.1em solid var(--grey);
  border-right-style: none;
  border-left-style: none;
}

.burgerItem > a {
  text-decoration: none;
  color: black;
  padding: 2em 4em;
  display: block;
}

.about-us {
  text-align: center;
  padding: 10px;
  margin: 30px;
  font-size: 1.5em;
}

.footer-container {
  display: flex;
  padding: 0em 2em;
  color: white;
  background-color: #184353;
  height: 3em;
  flex-direction: horizontal;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.footer {
  position: sticky;
  bottom: 0;
}

/* Product page */

#product-title {
  font-size: 1.8em;
  font-weight: bold;
}

.product-page {
  text-align: center;
}

.product-comment-card {
  margin: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px var(--grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-para {
  font-weight: bold;
}
