<section class="about-us">

    <h1>About Us 🌵</h1>

    <p>Plantbase Me is an app for everybody allowing you to view plant-based alternative products to food cravings you
        may have!</p>

    <p>People of any diet are encouraged to use our app.</p>

    <p>Choose a craving from the wheel and click submit to see a list of products.</p>
</section>