<section>
    <section>
        What are you looking for?
    </section>

    <section class="selection-slider">
        <div class="content">
            <div class="content-slider">
                {{#each cravings}}
                <figure class="craving-svg">
                    <image src="/assets/{{this.craving_name}}.png" />
                </figure>
                {{/each}}
            </div>
        </div>
        </div>
    </section>

    <p style="text-align: center;">
        <button class="previous-button">Previous</button>
        <button class="next-button">Next</button>
    </p>

    <form action="/results/{{cravings.id}}"> <button class="select-button">Select</button></form>

</section>