<section class="homepage">
    <h2>
        What are you looking for?
    </h2>

    <section class="selection-slider">
        <div class="content">
            <div class="content-slider">
                {{#each cravings}}
                <figure class="craving-svg">
                    <image src="/assets/{{this.craving_name}}.png" />
                    <div class="craving-svg-text">{{this.craving_name}}</div>
                </figure>
                {{/each}}
            </div>
        </div>
        </div>
    </section>

    <button class="previous-button"></button>
    <button class="next-button"></button>

    <button class="select-button button">Select</button>

</section>