<section>
    <section>
        What are you looking for?
    </section>

    <section class="craving-icon-slider">
        {{#each cravingIcons}}
        <div class="craving-svg">
            <src url="/assets/{{cravingIcon}}.svg">
        </div>
        {{/each}}
    </section>

</section>