<section class="contribute info-page">

    <h1>How to Contribute</h1>

    <p>Feedback on products is encouraged and we hope that you'll enjoy helping others to find the best plant-based
        alternatives available.</p>

    <p> We encourage you to welcome people who are trying plant-based products for the first time and to avoid
        exclusivity and judgements in your comments. </p>
</section>