<section id="add-a-product-form">
    <h2> Add a Product</h2>
    <form action="/addProduct" method="POST">
        <label for="productName">Product Name: </label><br>
        <input id="productName" name="product_name"><br>

        <label for="productDescription">Product Description: </label><br>
        <input id="productDescription" name="product_description"><br>

        <label for="craving-id">Choose a craving: </label><br>
        <select id="craving-id" name="craving_id">
            <option value=1>Cheese</option>
            <option value=2>Meat</option>
            <option value=3>Milk</option>
            <option value=4>Sweet</option>
        </select><br>

        <label for="whereToBuy">Where can you buy this?</label><br>
        <input id="whereToBuy" name="where_to_buy"><br>

        <label for="productImage">Product Image URL: </label><br>
        <input id="productImage" name="product_image"><br>

        <label for="price">Product Price</label><br>
        <input type="number" step="0.01" min="0.01" id="price" name="product_price"><br>

        <label for="rating">Rating</label>
        <select id="rating" name="rating">
            <option value=1>⭐</option>
            <option value=2>⭐⭐</option>
            <option value=3>⭐⭐⭐</option>
            <option value=4>⭐⭐⭐⭐</option>
            <option value=5>⭐⭐⭐⭐⭐</option>
        </select>
        <label for="comment">Comment: </label>
        <input id="comment" type="text" name="comment">

        <input id="submit-product-button" type="submit">
    </form>
</section>