<section class="mission info-page">
    <h1>Our Mission</h1>

    <p>We'd like to encourage changes in diet no matter how small they are. Becoming curious is important to us as is
        being
        able to find products which appeal to your tastes.</p>

    <p>If everyone changes even just a little bit, it will add up. The planet and our health will thank us.</p>

    <p>We aim to provide people with fun and exciting plant-based alternatives, so that making changes will be easy and
        pleasant. </p>

    <p>We hope you give it a shot!</p>

</section>