<section id="burgerMenu">

    <ul id="burgerList">
        <li class="burgerItem"><a href="/aboutus">About Us</a></li>
        <li class="burgerItem"><a href="/ourmission">Our Mission</a></li>
        <li class="burgerItem"><a href="/howtocontribute">How to Contribute</a></li>
        <li class="burgerItem"><a href="/letmeadd">Add a Product</a></li>
    </ul>
</section>