<section id="burger-menu">

    <ul id="burger-list">
        <li class="burger-item"><a class="burger-item-link" href="/aboutus">About Us</a></li>
        <li class="burger-item"><a class="burger-item-link" href="/ourmission">Our Mission</a></li>
        <li class="burger-item"><a class="burger-item-link" href="/howtocontribute">How to Contribute</a></li>
        <li class="burger-item"><a class="burger-item-link" href="/letmeadd">Add a Product</a></li>
    </ul>
</section>