<section class="nav-bar">
  <div class="nav-bar-content">
    <div class="plantbase-me-text">
      <p class="plantbase-text">Plantbase</p>
      <p class="me-text">Me</p>
    </div>
    {{>logo}}
    {{>hamburger}}
  </div>
  <div class="arrow-down"></div>
</section>