<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
</head>

<body>

    {{>header}}

    {{>burgerMenu}}

    {{{body}}}

    {{>footer}}

    {{!-- jsPath is provided as context when page is rendered --}}
    <script src="{{jsPath}}"></script>

</body>

</html>